[2018-03-27 14:10] jonnyforestGIS opened #1 "[QGIS 3.0.1] Metadata Error QGIS Version"
Hi guys,
for QGIS 3.0.1 this is plugin is broken. "Is incompatible with this version of QGIS Plugin designed for QGIS 2.8 - 2.99"

I change the qgis minimum version in metadata.txt but then give an error of import PyQt4 module probable need code migration.

Regards
João

[2019-02-25 15:45] pcav commented on #1
An important issue, now that QGIS 2.18 is end of life

[2019-04-10 01:37] dobignies opened #2 "Installation returns no attribute 'classFactory' error"
Hello, masters
I tried to install from plugin manager (Qgis 3.6.1), but there is something wrong. The phyton error log returns:

  File "C:/OSGEO4~1/apps/qgis/./python\qgis\utils.py", line 335, in startPlugin
             plugins[packageName] = package.classFactory(iface)
             AttributeError: module 'qgis-wfsOutputExtension-master' has no attribute 'classFactory'

any idea?

[2019-04-22 01:20] dobignies commented on #2
Hi,
I forgot some details: I use LWC master and Windows 10.
I'd tried qgis2to3 scripts in version 1.0.1 solving the classfactory and Qdialog issues, but I can't handle the  resources and ui files.
GetCapabilities returns only GeoJSON and GML. Nevertheless, the export function in Lizmap shows all formats, but it returns broken zip files (0 bytes).
No changes installing plugin's folder in \apps\qgis

[2019-05-02 10:17] rldhont commented on #2
@dobignies the plugin has just been refactorized for QGIS 3. Test new version.

[2019-05-02 10:17] rldhont commented on #1
@jonnyforestGIS the plugin has been refactorized for QGIS 3

[2019-05-02 10:17] #1 closed

[2019-05-02 10:22] pcav commented on #1
Not yet published?
Thanks.

[2019-05-02 10:31] rldhont commented on #1
first one https://github.com/3liz/qgis-wfsOutputExtension/releases/tag/v1.1.0

second and last one https://github.com/3liz/qgis-wfsOutputExtension/releases/tag/v1.2.0

[2019-07-26 08:50] rldhont commented on #2
needed for window qgis server plugins

[2019-08-05 09:48] bsoufflet opened #3 "WFS with output format "shp"

[2019-08-27 14:24] igeofr opened #4 "Add the .gpx format"
Hello,
It would be interesting to add the gpx format to the list in order to easily load the data into a GPS.

[code]
Thanks

[2019-09-05 11:59] itsakifa opened #5 "Encoding csv export"
Is there any setting for the encoding (utf8, unicode) when exporting the attribute tables as csv? I'm working with french data, so a lot of accents...

[2019-09-05 12:02] dmarteau commented on #5
As far as know, the attribute table should be exported as utf8.

[2019-09-05 12:30] itsakifa commented on #5
Mmh.. it works for xlsx exports, all accents are correct. But it's not doing it for csv.

[2019-12-06 15:20] infoble opened #6 "install on nginx"
Hi, I use qgis server 3.10 via spawn-fcgi and multiwatch, LWC 3.3 on a congig debian buster/nginx. I'm trying to install the plugin:
- unzipped plugin in the folder /opt/qgis-server/plugins
- "fastcgi_param QGIS_PLUGINPATH /opt/qgis-server/plugins;" add in the virtual host conf (in location /qgisserver {})
- qgis server and nginx restarted
Nothing changes in the getcapabilities, do I forget someth

[2019-12-09 19:11] Andrea996 opened #7 "How can you install on a QGIS SERVER installation in windows with OSGeo4W?"
How can you install on a QGIS SERVER installation in windows with OSGeo4W?

[2020-01-24 15:41] rmarzocchi84 opened #8 "Installation error"
I follow the instructions in the README file and I encountered the following error after apache2 restart:

[code]

If I change the name of the folder from qgis-wfsOutputExtension-1.2.2 to qgis-wfsOutputExtension I do not encountered errors but I do not see the new export formats available from lizmap.

Any suggestion?

[2020-01-24 15:44] rldhont commented on #8
Rename the folder to wfsOutputExtension

[2020-01-24 15:46] rldhont commented on #8
And be sure that the metadata.tx and other file are in wfsOutputExtension folder.

[2020-01-24 15:59] Gustry commented on #8
I have just generated the zip file and uploaded it to plugins.qgis.org

https://plugins.qgis.org/plugins/wfsOutputExtension/version/1.2.2/download/

[2020-01-24 16:08] rmarzocchi84 commented on #8
Ok, no error on apache  but the result do not change:

![Uploading Schermata del 2020-01-24 16-54-08.png…]()

[2020-01-27 08:15] rmarzocchi84 commented on #8
Now it works.. it seems a problem of apache restart

[2020-01-27 08:15] #8 closed

[2020-02-10 10:17] josemvm opened #10 "export files - wrong file name"
hi

lizmap exports the files with wrong file name encoding (e.g.: `export_Bocas_de_IncÃªndio.xxx` in case of `Bocas de Incêndio`/layer name in lizmap).

the same problem when the user downloads the PDF file (printer tool)

https://github.com/3liz/lizmap-web-client/issues/1475

thanks

[2020-02-10 10:46] rldhont commented on #10
The file name is probably not generated by the plugin, but you can make a try with the lizmap URL updated to use QGIS Server:
* change the path
* remove parameters repository and project
* add the map parameter

[2020-02-10 11:26] josemvm commented on #10
i'm trying analize the logs in qgis server when the user exports:

[code]
here, the **correct name**/TYPENAME `Bocas_de_Incêndio`
[code]
here, the **correct name**/TYPENAME `Bocas_de_Incêndio`
[code]
...
[code]
here, **the wrong name**/TYPENAME `Bocas_de_IncÃªndio`
[code]
here, **the wrong name**/TYPENAME `Bocas_de_IncÃªndio`
[code]

i hope it can help you

[2020-03-02 08:12] pcav opened #11 "ods files unzipped"
Apparently the exported ods file is unzipped, so it cannot be opened directly by LibreOffice.

[2020-03-20 08:15] rldhont commented on #6
@Gustry @drillinP can you help ?

[2020-03-20 08:22] rldhont commented on #7
Like any QGIS Server Plugin, you have to defined the varaible `QGIS_PLUGINPATH` in your fcgi QGIS Server config.

[2020-03-20 08:26] Gustry commented on #6
@infoble Do you still have this issue?
Are you using SystemD for starting your spawn-fcgi? I personally don't use multiwatch.
Can you share QGIS Server logs ? (when it is starting, it will show which plugins are starting.)

Did you clean_vartmp in lizmap? The GetCapabilities is cached by Lizmap. Right @rldhont ?
https://github.com/3liz/lizmap-web-client/blob/master/lizmap/install/clean_vartmp.sh

[2020-03-20 08:26] rldhont commented on #2
@Gustry does this commit https://github.com/3liz/qgis-wfsOutputExtension/commit/f0664c19953f460f99dc78a441aeeef46d3dc80f fix this issue ?

[2020-03-20 08:29] Gustry commented on #7
@Andrea996 Do you still have the issue?

You should a look to your QGIS logs, it should tell you the default directory used for plugins. Then copy/paste the folder there and QGIS Server will detect it.

[2020-03-20 08:31] Gustry commented on #2
Yes, it should. The plugin is useless on QGIS Desktop.

[2020-03-20 08:31] #2 closed

[2020-03-20 08:34] Gustry commented on #4
@igeofr Did you try to add this code in the python file? Did it work?

[2020-03-20 08:35] Gustry commented on #5
@itsakifa Do you still have the issue?

[2020-03-20 08:37] Gustry commented on #11
Sorry @pcav I don't understand the issue. Libreoffice wants to read a plain ODS file, not a zipped ODS. Why do you want a zipped ODS?

Maybe I'm missing something?

[2020-03-20 08:48] rldhont commented on #11
ODS format is a zip file that contains an XML and other data like images.

The ODS file is generated by QGIS QgsVectorFileWriter.

[2020-03-20 08:49] igeofr commented on #4
No, I didn't try because I rent a Lizmap server from you and I don't have the possibility to do the test.

[2020-03-20 08:52] Gustry commented on #4
Ah yes, it makes sense, sorry. I will try ;-)

[2020-03-20 10:36] Gustry commented on #11
Yes, but I tried on Lizmap, I have an ODS file and it's working well in LibreOffice. I don't have any zipped file.

Are you sure it wasn't your file explorer which opening the file with the archive software?

[2020-03-20 10:58] pcav commented on #11
so you can open an unzipped ODS file from LibreOffice? In my case it opened as xml.

[2020-03-20 11:07] Gustry opened #12 "writeAsVectorFormat is now deprecated"
I have a warning saying it's deprecated.

Use `writeAsVectorFormatV2`

[2020-03-20 11:13] Gustry commented on #11
I'm not "unzipping" the ODS file, everything works fine.

* Lizmap (WfsOutputExtension) gives me an `my_layer.ods` file when I select `ODS`.
* Firefox downloads it as ODS file.
* If I double click on it (the ODS file), LibreOffice opens normally, loading the ODS file.
* I also tried to open LibreOffice, open the ODS file from LibreOffice, everything is fine.
* If I right click on the file, choose

[2020-03-20 11:27] pcav commented on #11
OK, your explanation makes sense to me. The problem stems from the fact that the browser by default suggests to open the ods with LO.
Thanks.

[2020-03-20 11:52] Gustry commented on #11
Ok, so I just checked the MIME Type on the file:

[code]
So indeed, your webbrowser is following the Mime Type to choose the archive software.
My firefox is following the extension `.ods` and doesn't open my archive software.

The content type in the plugin is well defined:
* https://github.com/3liz/qgis-wfsOutputExtension/blob/master/wfsOutputExtension/wfs_filter.py#L70
* https://github.com/3liz/

[2020-03-20 12:01] Gustry commented on #4
Done : https://github.com/3liz/qgis-wfsOutputExtension/commit/55912fdb040b278ca6fe6d30c4038a1c4c19eb28

The GPX has some restrictions on field names.

[2020-03-20 12:06] igeofr commented on #4
That's great. Thanks

[2020-03-20 12:09] Gustry commented on #11
And on a ODS file from scratch created in LO:

[code]

[2020-03-23 07:27] itsakifa commented on #5
@Gustry Sorry for the late answer ! Yes, I still have the issue.

[2020-03-23 09:01] Gustry commented on #5
Which version of the plugin and QGIS Server are you using?
I just tried, it's working for me with a simple dataset with accents when exporting to CSV. Check how you open your file with LibreOffice too.

[2020-03-23 14:45] itsakifa commented on #5
QGIS Server: openquake/qgis-server:3.8.3
Plugin: version=1.2.2

When I use another format (xlsx or ods), encoding in UTF-8 is working correctly.
I just found out that when exporting as csv, opening in Notepad++ or other, the encoding is correct as well. When doing "Convert to UTF-8" and **then** reopen it in Excel, the encoding is correct too.
So just when exporting as csv and directly open in Exc

[2020-03-31 12:42] tethysgeco commented on #3
Hello, do you have any news about this problem? Thanks in advance

[2020-04-01 08:10] tethysgeco opened #13 "Error message opening xlsx file"
Hi, we have installed the release 1.2.3 with Qgis server 3.4 and Lizmap WC 3.3.3.
When we download xlsx files from the WebGIS and open them with MS Office 365, the error message in the image below is returned. It means that there is a problem with some part of the file content and if you think that the source is reliable Excel will try to restore it.
If you click “yes” the file opens and everythin

[2020-04-09 05:48] MattiasSp commented on #13
Chiming in to say that I get the same error on QGIS Server 3.10.2-2 with qgis-wfsOutputExtension 1.2.2. After restoring the file, Excel provides the following restoration report (my translation):
[code]

[2020-04-09 12:33] rldhont commented on #13
The xlsx is generated by QGIS classes, I think GDAL wrapper. Do you have the same issue if you do a Save As xlsx in QGIS Desktop ?

[2020-04-10 10:38] tethysgeco commented on #13
@rldhont , doing save as xlsx in Qgis desktop seems ok.
No error message is shown opening from excel the exported file .
Comparing xlsx table of the same postgis layer (named segnalazioni) downloaded from Lizmap and exported from Qgis desktop I can see this column in version from Lizmap:

gml_id
--
Segnalazioni.3
Segnalazioni.6
etc..

This column is absent in file exported from Qgis desktop. I don

[2020-05-06 07:46] tethysgeco commented on #13
Attached you can find an example of the same table exported using lizmap (qgis server 3.4) and qgis desktop 3.4. Opening the lizmap export we have the error message mentioned above and then there is also an error in the recovered file:

![image](https://user-images.githubusercontent.com/23027624/81149328-4c7af800-8f7e-11ea-87db-c778d3c68299.png)

[export_test_excel_qgis.xlsx](https://github.com/3l

[2020-05-27 11:24] josemvm opened #14 "output format according spatial or non-spatial data tables"
hi

as suggested by @Gustry
https://github.com/3liz/lizmap-web-client/issues/1623#issuecomment-626706377

the output formats must be available according to the type of table

thanks

[2020-06-08 10:32] Gustry commented on #6
Closing for lack of feedback

[2020-06-08 10:32] #6 closed

[2020-06-08 10:36] Gustry commented on #7
Closing for lack of feedback, feel free to reopen.

[2020-06-08 10:36] #7 closed

[2020-06-29 12:19] Maverick83000 opened #15 "Export Format don't appear in Lizmap"
Hello,

I installed the HelloWorld et the wfsOutputExtension plugins and configured the fcgid conf file of apache2 ("_/etc/apache2/conf-available/serve-cgi-bin.conf_") like describes in the documentation.

When I try the url on the Hello World plugin (_http://151.236.35.125/cgi-bin/qgis_mapserv.fcgi?SERVICE=Hello_), it works and I've a response.
But when I try the export on lizmap, I just have Geo

[2020-06-29 12:40] Gustry commented on #15
Can you try a request `SERVICE=ATLAS&REQUEST=GETCAPABILITIES` to check that the plugin is well installed?
Did you clear the cache of the getcapabilities response?

[2020-06-29 12:52] Maverick83000 commented on #15
Hi Gustry,

Thanks for your answer.
The request with "SERVICE=ATLAS&REQUEST=GETCAPABILITIES" don't work:
_<ServiceExceptionReport version="1.3.0">
<ServiceException code="Service configuration error">Service unknown or unsupported</ServiceException>
</ServiceExceptionReport>_

But it works with "SERVICE=WMS&VERSION=1.3.0&REQUEST=GetCapabilities"

[2020-06-29 13:07] Gustry commented on #15
and

They are two different requests. You must have the first one working. It means the plugin is not well installed.
Did you put the folder `wfsOutputExtension` next to the other one? (named like this)

[2020-06-29 13:29] Maverick83000 commented on #15
I put the extension folder in the _/opt/qgis-server/plugins_ just near the folder _qgis-helloserver_
![image](https://user-images.githubusercontent.com/11660738/86011728-60425800-ba1d-11ea-9b4e-efe0bf8ab17e.png)

[2020-06-30 10:16] Maverick83000 commented on #15
I said something wrong early,
I modified the file _/etc/apache2/mods-available/fcgid.conf_ for adding the **QGIS_PLUGINPATH**
Maybe should I modified the file _/etc/apache2/conf-available/serve-cgi-bin.conf_ ?

[2020-08-03 14:23] Glasnost46 commented on #15
J'ai le même problème avec :

QGIS 3.10.8
Lizmap 3.3.9
QGIS server 3.10.7.1
WFSoutputExtension 1.3.0 ou 1.2.3 (les deux versions ont été testées)
Windows server 2012

Le dossier du plugin est déposé ici :
\OSGeo4W64\apps\qgis-ltr\python\plugins\

Le getCapabilities ne mentionne que les formats de base GeoJson et GML

Je suis preneur d'une piste parce que je n'en ai plus moi même :)

Merci

[2020-08-03 14:31] rldhont commented on #15
Take a look at the QGIS Server Log, you can check if the plugin is installed and well loaded.

[2020-08-03 14:50] Glasnost46 commented on #15
Thank you for your answer.

Indeed, here is my log :

QGIS version:
3.10.8-A Coruña 'A Coruña', d09a4f2388

Python path:
['C:\\OSGeo4W64\\apps\\qgis-ltr\\python', 'C:\\OSGeo4W64\\apps\\qgis-ltr\\python\\plugins', 'C:\\OSGeo4W64\\apps\\Python37\\DLLs', 'C:\\OSGeo4W64\\ap', 'C:\\OSGeo4W64\\bin\\python37.zip', 'C:\\OSGeo4W64\\apps\\Python37\\lib', 'C:\\OSGeo4W64\\apps\\qgis-ltr\\bin', 'C:\\OSGeo4W64\

[2020-08-04 06:26] Gustry commented on #15
@Glasnost46 Your problem is quite different.
QGIS Server detected the plugin and tried to load it.
But it fails on the Python API:

I have never tried to install a QGIS plugin server on Windows.

 Did you use https://github.com/NaturalGIS/qgis_server_and_lizmap_on_windows ?
CC @gioman, do you know about installing QGIS Server plugin on Windows?

[2020-08-04 07:23] Glasnost46 commented on #15
Thanks for your reply Gustry.
I have use the lizmap website to install all (https://docs.lizmap.com/current/fr/install/windows.html), everything seems to work fine except this plugin. My getcapabilities requests are ok.

[2020-08-04 08:47] gioman commented on #15
@Gustry  I have not tested QGIS Server plugins on Windows, nevertheless it would intersting to do so on a machine where QGIS Server was installed and configured with the "recipe" https://github.com/NaturalGIS/qgis_server_and_lizmap_on_windows @Glasnost46 could you do it?

[2020-08-04 09:29] Glasnost46 commented on #15
I think my setup is ok, except for this plugin.
This plugin worked on windows2012 in my previous setup with qgis2.8 / lizmap 3.2 / qgisserver

[2020-08-04 09:48] gioman commented on #15
QGIS Server 2 or 3?

[2020-08-04 10:04] Glasnost46 commented on #15
With QGIS server 2.18.28

[2020-08-04 10:07] gioman commented on #15
QGIS Server 3 was basically rewritten from scratch, so there is a chance that something is not working with plugins on Windows.

[2020-08-04 13:04] Gustry commented on #15
@Glasnost46 In your comment, you are talking about QGIS 3:
https://github.com/3liz/qgis-wfsOutputExtension/issues/15#issuecomment-668065825

At the top, we can read

Where did you get this from?

If you are really running QGIS Server 2 (so you must have QGIS Desktop 2 too !), the AtlasPrint plugin must be an older version maybe like 1.1.0 https://github.com/3liz/qgis-atlasprint/releases That's you

[2020-08-04 13:26] Glasnost46 commented on #15
From my actual qgis_server.log

Now I'm using qgis server 3.10.7.1 with Qgis 3.10.8 and the plugin doesn't work.
Before, with qgis server 2.18.28 and qgis 2.8 it worked well.

I haven't the atlas plugin in my plugin folder.

Anyway, a conflict between old and new files is quite possible I guess.

Thanks for your help

[2020-08-20 13:55] Maverick83000 commented on #15
Hi.
I'm back from my Hollidays and the cruel life.
I will try to install the plugin again and the atlasprint plugin, but it failed to.

I try to had those lines to the _000-default.conf_ but the qgis-server crashed ...

_<VirtualHost *:80>

 ServerAdmin webmaster@localhost
 DocumentRoot /var/www/html

 ErrorLog ${APACHE_LOG_DIR}/error.log
 CustomLog ${APACHE_LOG_DIR}/access.log combined

 FcgidIni

[2020-09-17 14:26] Gustry commented on #13
I will still have a look.
I just noticed this PR on qgis/qgis. I don't know if it's related, but just to keep track of it https://github.com/qgis/QGIS/pull/38837

[2020-09-17 14:33] pcav commented on #13
sounds right, thanks

[2020-09-28 11:58] Gustry commented on #12
Fixed 9bed7de6aa931bc7a60e092719a8e62b465a0c20

[2020-09-28 11:58] #12 closed

[2020-09-28 12:04] Gustry commented on #13
The bug related to the Excel format should be fixed with the new version 1.4.0, please try again.

[2020-09-28 12:06] tethysgeco commented on #13
we'll try as soon as possible, thanks!

[2020-09-28 12:14] Gustry commented on #15
Did you make some progress?

Do you have any error message?

Check :
* [ ] Where QGIS is looking for plugins?
* [ ] If the folder is correct, `wfsOutputExtension` with the `metadata.txt` inside. Better to take the zip from release
* [ ] Check the rights on the file. `root` might not be good when unzipping

[2020-10-08 13:54] tethysgeco commented on #13
Hi,
we’ve tried version 1.4.1.
Most of the exported tables are ok, error message is no more displayed by excel.
The same message of the first post of this thread is still returned when we have a numeric field with zero values mixed with non-zero values, and the result is something like this:
![immagine](https://user-images.githubusercontent.com/23027624/95467830-3682c080-097e-11eb-92ba-5ac64ab7a0f

[2020-10-08 14:42] Gustry commented on #13
@tethysgeco
FYI, we got a regression regarding 1.4.X.
It's not possible to export as shapefile. I'm on it.

[2020-10-09 06:50] tethysgeco commented on #13
ok, thanks

[2020-10-09 07:10] Gustry commented on #13
Version 1.5.0 has been released to fix the export of ZIP based formats.
Can you open separate issue ? This one for opening XLSX file seems fixed. We can look to the decimal separator.
For instance, CDATA would be another discussion because it seems the issue is upstream in QGIS : https://github.com/qgis/QGIS/blob/master/src/server/services/wfs/qgswfsgetfeature.cpp#L1550

[2020-10-09 07:10] #13 closed

[2020-10-09 09:35] Gustry commented on #4
According to a unittest added, GPX is failing : https://travis-ci.org/github/3liz/qgis-wfsOutputExtension/jobs/734199354#L246

[2020-10-09 10:23] tethysgeco opened #17 "[CDATA[<text]] in exported xlsx tables"
When there are special characters in text fields (e.g. < or &) in exported excel tables we find <![CDATA[<text]] (no error message is returned opening xlsx file).

[2020-10-09 10:24] MattiasSp opened #18 "Critical error when writing to QTemporaryFile"
I'm using QGIS Server 3.14.16 with wfsOutputExtension 1.4.1 and I'm getting the following error in the QGIS log:

`CRITICAL wfsOutputExtension[2656]: Creation of data source failed (OGR error: It seems a file system object called '[my QGIS temp folder]/request-WFS-qzMlsS.csv' already exists.)`

It seems that writing works when I edited `wfs_filter.py` to not open the QTemporaryFile (`temporary.ope

[2020-10-09 10:35] rldhont commented on #18
Please update to 1.5.0 and get feedback.

[2020-10-09 10:59] MattiasSp commented on #18
I updated to 1.5.0 (sorry, missed that there was a new release). Unfortunately the error persists, although the paths changed:

`CRITICAL wfsOutputExtension[7360]: Creation of data source failed (OGR error: It seems a file system object called '[my QGIS temp folder]/QGIS_WfsOutputExtension/to-csv-CzvWgr.csv' already exists.)`

[2020-10-09 11:12] Gustry commented on #17
It seems the issue is upstream in QGIS : https://github.com/qgis/QGIS/blob/master/src/server/services/wfs/qgswfsgetfeature.cpp#L1550
To fix this, either it would need a fix in QGIS Server, or search/replace (refactor field algo) after getting the GML.

[2020-10-09 11:34] MattiasSp commented on #18
Perhaps the QTemporaryFile needs to be removed instead of closed?

This seems to suggest so:
https://forum.qt.io/topic/66643/qtemporaryfile-close-method

Changing the call [temporary.close()](https://github.com/3liz/qgis-wfsOutputExtension/blob/cec08bf2edbf94d28ac88f604ce04477a7584ad9/wfsOutputExtension/wfs_filter.py#L241) to `temporary.remove()` also seems to fix my issue.

[2020-10-09 15:03] Gustry commented on #10
Have you tried first if your QGIS project was valid (according to WFS rules). In the QGIS Project properties, QGIS Server tab at the bottom.

[2020-10-10 21:09] aeduard commented on #15
I've also tried to enable wfsOutputExtension qgis-server plug-in. At first I had difficulties, because it was not clear to me where should I put the QGIS_PLUGINPATH line (having Apache2 with FastCGI). I've checked qgis-server documentation [here](https://docs.qgis.org/3.10/en/docs/user_manual/working_with_ogc/server/plugins.html#http-server-configuration). I've modified my configuration at sites-a

[2020-10-11 10:16] josemvm commented on #10
![imagem](https://user-images.githubusercontent.com/10053874/95676004-06703300-0bb3-11eb-82fa-cd1ae76d81ba.png)

[2020-10-12 05:50] Gustry commented on #10
@josemvm I wanted to know what happened if the project was valid.

`[31495][11:05:44] QgsPostRequestHandler::parseInput`, it seems you are using QGIS 2 in this logs. If so, please try again with QGIS 3.

A test has been added : https://github.com/3liz/qgis-wfsOutputExtension/blob/master/tests/test_feature.py#L233 and it should be fine.
Reopen if necessary.

[2020-10-12 05:50] #10 closed

[2020-10-12 05:58] #18 closed

[2020-10-12 06:15] Gustry commented on #15
I have reviewed the readme quickly and added a link to the AtlasPrint just in case.

Open a new ticket if you have any issue

[2020-10-12 06:15] #15 closed

[2020-10-12 08:12] josemvm commented on #10
hi @Gustry
the problem remains with qgis 3...

![imagem](https://user-images.githubusercontent.com/10053874/95721551-accb3f80-0c6a-11eb-88a8-9a4c65dc0ad9.png)

[2020-10-12 08:37] Gustry commented on #10
Can you make a request to QGIS Server directly ? (not using LWC) as suggested by @rldhont

From @rldhont :

[2020-10-12 17:38] josemvm commented on #10
@Gustry

everythings work fine when i make a request to qgis server directly, like this:

http://xxx.xxx.xxx.xxx/cgi-bin/qgis_mapserv.fcgi?map=/var/www/html/lizmap_web_client/lizmap/install/xxx/xxx.qgs&outputformat=SHP&request=GetFeature&service=WFS&typename=Bocas_de_Incêndio&version=1.0.0

outputfile: `Bocas_de_Incêndio.zip`

the name is misrepresented by the plugin

thanks

[2020-12-18 14:17] Gustry commented on #4
@igeofr Is the GPX working well for you ?

I have just renabled GPX tests in 51c9f1c72a401388578ef99d29346db915ad943c

[2020-12-23 13:07] pritamashutosh opened #19 "wfsoutputExtension windows server compatibility"
is this extension is compatible with windows server?

if so how to enable this?

Regards

[2020-12-24 02:11] Gustry commented on #19
No one from us is using Windows.
Your question is more related to how to install a QGIS Server plugin on Windows.

Maybe a have look there https://github.com/NaturalGIS/qgis_server_and_lizmap_on_windows
or in the official QGIS Documentation related to QGIS Server : https://docs.qgis.org/3.16/en/docs/server_manual/

I'm closing this issue as it's not specific to WfsOutputExtension.
You can still sh

[2020-12-24 02:11] #19 closed

[2021-01-04 17:31] igeofr commented on #4
Yes, it works perfectly for points and lines.
For polygons an empty file is generated. Is it possible to deactivate this format for polygonal layers?

[2021-01-05 02:28] Gustry commented on #4
Indeed, it's correct.
I will have some work on WfsOutputExtension in the coming week, I will do that.

[2021-01-07 02:55] Gustry commented on #4
@rldhont, @igeofr  I tried to deactivate this export for polygons.

For now the, the list of format generated by this QGIS Server plugin is **inserted** at the root WFS service  (global for all layers provided by the WFS Server) and is **not** configured per layer.
It seems possible according to the specs

[code]
http://opengeospatial.github.io/e-learning/wfs/text/operations.html#response

But the

[2021-02-23 09:40] Gustry opened #21 "Remove temporary files"
## Description

There is nothing to remove temporary files.

* Temporary GML, it looks easy, as soon as we have the `QgsFileVectorWritter` in the new format, we can remove the GML file.
* Temporary target extension, need to check for that one

[2021-02-23 12:18] Gustry commented on #21
Fixed in 80012147c49c69b5e36b86b2ef5dd58f7e90870e

After this fix @lhirlimann, the folder must **stay** empty everytime, at the end of the HTTP request.  But do not remove it.

[2021-02-23 12:18] #21 closed

[2021-02-24 20:27] rmarzocchi84 opened #22 "Problem with QGIS 3.16 (new LTR)"
## Description
After an update of QGIS server to the new LTR (QGIS 3.16) the plugin doesn't works on my server

## Context
* QGIS Server FULL version (with 3 numbers) : 3.16.4
* OS on the server : Ubuntu 18.04

[2021-02-24 20:30] rmarzocchi84 commented on #22
Here an example https://gishosting.gter.it/lizmap-web-client/lizmap/www/index.php/view/map/?repository=workshop&project=roberto_marzocchi_editing

[2021-02-25 04:48] Gustry commented on #22
FYI tests are running on all LTR QGIS versions 3.4, 3.10 and 3.16
https://github.com/3liz/qgis-wfsOutputExtension/actions/runs/592539612

Can you copy/paste the QGIS Server logs ?

[2021-02-25 07:44] rmarzocchi84 commented on #22
I try also to install lizmap plugin on QGIS server. I download ithe 3.4.0 verision on the QGIS server plugin folder

Here the QGIS server log after a restart of apache2:
[code]

[2021-02-25 13:22] lhirlimann commented on #21
Maybe I d' like a release after all.

[2021-02-26 21:07] rmarzocchi84 commented on #22
I also try to update the plugib version to tha last version of yesterday but it doesn't work.

In the readme you write `Check rights` what is mean?
user: www-data
group: www-data
permission:755

It is correct?

[2021-03-05 02:54] Gustry opened #23 "Fix name tag on GH Action"
## Description

Compare the last 2 tags about v prefix

[2021-03-09 11:05] DominikVisca opened #24 "New export formats not showing in drop down menu"
I installed the plugin and it seems to load normally. However I only get the standard export formats (GML, GeoJSON) in the drop down menu. I restarted Apache multipe times but nothing changed.

Here are some of the log file contents:

**Loading the plugin**
[code]

**Accessing a WFS layer**
[code]

The line WfsOutputExtension.sendResponse I got over 1200 times for each request. Seems pretty high..

[2021-03-11 11:10] rldhont commented on #24
Which application's drop down menu ?

Did you check the WFS GetCapabilities ?

[2021-03-18 16:37] Guts opened #25 "Is a stable relase planned?"
Hi there,

Nice plugin, thanks!

Is there a reason why the plugin is still flagged as experimental after 5 years? Do you plan to release it as stable?
It's for a friend :wink:

![image](https://user-images.githubusercontent.com/1596222/111662778-852b6500-8810-11eb-9f6d-a090d9158e14.png)

[2021-03-18 23:23] Gustry commented on #25
It's not only planned, it has already been done. Same thought as you 21 days ago : https://github.com/3liz/qgis-wfsOutputExtension/commit/f27d89ea0f05835908f08d4d1619ae4472707671 ;-)

I haven't noticed this for a long time.

Thanks for reporting it !

[2021-03-18 23:23] #25 closed

[2021-05-03 15:40] pathmapper opened #26 "Reduce log output for WfsOutputExtension.sendResponse"
First of all, very cool plugin, thanks a lot 👍

This has been reported previously as a side remark in https://github.com/3liz/qgis-wfsOutputExtension/issues/24 but might be worth an own issue:

With `QGIS_SERVER_LOG_LEVEL` = 0

there are hundreds of lines for each output request which are bloating the server logs:

`INFO WfsOutputExtension[1728]: WfsOutputExtension.sendResponse`

Would be nice to

[2021-05-04 04:34] #26 closed

[2021-05-04 07:23] pathmapper commented on #26
Thanks @Gustry

[2021-06-03 22:57] aeduard opened #27 "Dxf format"
Extend export format types with dxf.

[2021-07-20 18:14] mibalas opened #28 "Does not work on newer versions of QGIS Server"
Hi, Does this plugin work on the latest versions of QGIS Server?

I'm trying to use this plugin on QGIS Server versions 3.16 and 3.18 with LWC but without success.
I tested the HelloServer plugin and it worked.

My WFS GetCapabilities does not show other options for export, only geojson/gml.

I already cleaned the temp/lizmap

I don't know how to install older versions of QGIS Server.

My specs:
D

[2021-07-21 07:27] Gustry commented on #28
AFAIK, we have no known issues with 3.16. We have people using it, and tests are passing with 3.16, 3.10 and 3.4 :
https://github.com/3liz/qgis-wfsOutputExtension/actions/runs/812032296

You should check your QGIS Server logs and check any error/warning message.

QGIS SERVER 3.16

This is probably not a so good idea. LWC 3.3 is not fully compatible with QGIS Server 3.16. In Lizmap plugin, first pa

[2021-07-21 18:45] mibalas commented on #28
Hi, I'm new to QGIS Server I don't know where the logs are.

I think it wouldn't have to do with the LWC version because my QGIS Server WFS link doesn't show the new options:

http://localhost/cgi-bin/qgis_mapserv.fcgi?SERVICE=WFS&REQUEST=GetCapabilities
![image](https://user-images.githubusercontent.com/15907968/126541160-9c21237a-0cb7-4d8b-8153-713b3dce6ab3.png)

I installed LWC 3.4 but nothing

[2021-07-22 06:28] Gustry commented on #28
You need to read the QGIS Server documentation :
https://docs.qgis.org/3.16/en/docs/server_manual/config.html#logging

Sorry I don't understand. We can see geojson in your screenshot. Do you have all other formats in the output ? It seems QGIS Server plugin is working.
Try to clean the cache again in LWC ?

[2021-07-23 12:54] mibalas commented on #28
I would like to export to other formats like CVS/XLS as in the examples:
![image](https://user-images.githubusercontent.com/15907968/126780882-7e3ecaf4-1802-4381-8b80-a25c042a1b40.png)

lizmap:
![image](https://user-images.githubusercontent.com/15907968/126781085-63a937b9-90c4-4328-b309-bd508af6a5ab.png)

But only appear the options GML/GEOJSON

I tried to configure the QGIS log, setting the varia

[2021-08-31 08:39] filleg opened #29 "Additional outputFormats with WFS when using describeFeatureType"
WFS only supports text/xml through gml when using describeFeatureType-request. It would be useful to be able to use additional output formats.

![image](https://user-images.githubusercontent.com/50096970/131470879-6e5778a2-6ce3-4e31-860b-b647ddecf4b9.png)

For making QGIS Server compatible with more clients and operations, it would be great if it could accept additional variants, e.g;

application

[2021-10-08 09:18] Gustry opened #30 "Use the new API for QGIS Server for QGIS 3.24"
Related to https://github.com/qgis/QGIS/pull/45158

[2021-11-30 13:27] Doctor-Who opened #31 "Field format altered text to numeric when exporting in csv/xlsx"
## Description

When downloading a layer in csv or xlsx, type of field is changed. From text to numeric.
Very annoying on insee code cause dep Aisne : initially 02*** became 2***

Please, look at this example : https://geocatalogue.hautsdefrance.fr/geonetwork/srv/fre/catalog.search;jsessionid=54BF46D02CD9744DD1523E68AB154BD1?node=srv#/metadata/4b5f8e1b-de37-47cd-9203-37a59f318b09

## Context

* QG

[2022-01-04 17:10] Doctor-Who commented on #31
Up ?

[2022-01-21 16:41] ludovico85 opened #32 "Export filtered data?"
Hi, is it possible to export filtered data from the attribute table? It seems that with the filter activated the export function doesn't work (when clicking nothing happens).

![Cattura](https://user-images.githubusercontent.com/24815399/150565636-b484ee4a-6f1d-4aea-bcfd-ecb2ab70c9f9.JPG)

[2022-01-24 09:24] Gustry commented on #32
The selection is already supported and tester in this extension.
https://github.com/3liz/qgis-wfsOutputExtension/blob/master/tests/test_feature.py#L309..L325

So the issue might be on the client side. I'm transferring the issue.
Can you fill information like LWC version, WfsOutputExtension version and QGIS Server version ?

[2022-02-10 15:28] u-cav commented on #31
We are also seeing this issue with Lizmap 3.5.0. The same layer is exported correctly from QGIS Desktop (with leading zeroes, if the field type is text).

[2022-02-11 08:39] rldhont commented on #31
@pcav it is an issue due to the way GDAL is sniffing field type.

[2022-02-11 08:49] Doctor-Who commented on #31
@rldhont Could it be fix ? Which side ? Do we suppose to open a issue on GDAL project ?

[2022-02-11 10:12] rldhont commented on #31
@Doctor-Who it is not a GDAL issue. We have deactivated Schema request to avoid GDAL from wfsOutputExtension in QGIS Server requesting QGIS Server (something like QGIS Server requesting QGIS server). I don't know if .gfs file can help here. https://gdal.org/drivers/vector/gml.html

[2022-02-15 10:42] rldhont commented on #31
A way to fix it :
1. Get the XSD file with a DescribeFeatureType request
2. Open the GML file with the XSD file

[2022-02-15 10:45] Gustry commented on #24
We don't have feedbacks. I'm closing the issue.

[2022-02-15 10:45] #24 closed

[2022-02-15 10:58] Gustry commented on #11
if I'm not wrong, this has been fixed ? (with #16)

Gentle ping @pcav

[2022-02-16 09:33] u-cav commented on #11
@Gustry the issue seems to be fixed on the user side. Firefox offers to open the file with LO, and the downloaded file can be opened directly.

The mimetype of the downloaded file is still:

`application/zip`

instead of:

`application/vnd.oasis.opendocument.spreadsheet`

[2022-02-16 10:18] rldhont commented on #11
In the response headers provided by QGIS Server or Lizmap you would find `application/vnd.oasis.opendocument.spreadsheet` for content type. But between QGIS Server / Lizmap and the Browser there is some software that probably not recognize `application/vnd.oasis.opendocument.spreadsheet` content type and change it to `application/zip` because ODS is a zip file.

[2022-02-22 17:28] u-cav commented on #11
@rldhont I would consider it fixed, since the behaviour is correct on the user end. Thanks!

[2022-02-22 17:34] Gustry commented on #11
The MIME type is still indeed incorrect, but for the web browser, it seems alright indeed.

[2022-02-28 10:31] Gustry commented on #22
@rmarzocchi84 Did you find the issue ?

Yes, checking rights means checking file/folder owner, file permissions on the folder, according to the user running QGIS-Server.
[QGIS-Plugin-Manager](https://github.com/3liz/qgis-plugin-manager) might help to detect file permissions.

The plugin is working well as long the plugin is starting. So I'm closing the issue, feel free to open a ticket.

[2022-02-28 10:31] #22 closed

[2022-02-28 10:34] Gustry commented on #28
Hi, I hope you found the source of the problem.
Check file permissions, folder owner etc.
QGIS Server must be able to execute the code in the folder.
[QGIS-plugin-manager](https://github.com/3liz/qgis-plugin-manager) might help in detecting the user permission.

I'm closing the issue, the plugin works well with 3.16.

[2022-02-28 10:34] #28 closed

[2022-03-04 12:53] Niarolf opened #37 "Temporary space not left after not enought space error"
## Description
When we have not enought space in the apache temp filesystem, the temporary files are not deleted.

## Context
Qgis server is using with apache2 and fcgi.
The plugin variable debug is with the false value
When we call the plugin for a large file, send with a SHP outputFormat for example, the plugin create a gml file, then he converts this one in shp and finally in a zip file.
All th

[2022-03-09 10:01] Gustry commented on #37
Do you have the Python error which occurred ?

[2022-03-10 10:28] Niarolf commented on #37
@Gustry
Voici un extrait de l'erreur que j'ai dans le log qui semble être lié à OGR :
 11:21:04 WARNING OGR[58278]: Feature creation error (OGR error: Error in psSHP->sHooks.FWrite() while writing object of 21992 bytes to .shp file: Aucun espace disponible sur le périphérique)
11:21:04 WARNING OGR[58278]: Feature creation error (OGR error: Error in psSHP->sHooks.FWrite() while writing object of 16

[2022-03-17 14:58] #37 closed

[2022-03-17 14:59] Gustry commented on #37
Please try the next version, files should always be removed in case of an exception.

[2022-03-18 10:28] Gustry commented on #17
This should be fixed in QGIS Server 3.24.1 and 3.22.6.

Thanks to @pcav for funding this bugfix.

[2022-03-18 10:28] #17 closed

[2022-03-24 10:30] #31 closed

[2022-03-24 10:35] #23 closed

[2022-03-24 11:31] u-cav commented on #31
@Gustry @rldhont Thank you very much for the fix, it works perfectly.

[2022-03-24 17:43] Doctor-Who commented on #31
@u-cav Fix funded by region of Hauts-de-France // https://www.hautsdefrance.fr/

[2022-03-25 05:33] u-cav commented on #31
@Doctor-Who Great to know, thank you and thanks to la Région Hauts-de-France!

[2022-03-25 08:19] Gustry commented on #31
Thanks for the reminder @Doctor-Who !
Thanks !

https://twitter.com/etrimaille/status/1507270134997598213

[2022-04-05 07:15] STSISI-sigo opened #43 "Unreleased space after deleting files"
## Description
This issue follow the #37
When we have not enought space in the apache temp filesystem, the temporary files are now deleted in the 1.7.0 version but some space are unrealesed by the qgis_maps process.

## Context
Qgis server is using with apache2 and fcgi.
When we call the plugin for a large file, send with a SHP outputFormat for example, the plugin create a gml file, then he conver

[2022-04-05 07:33] STSISI-sigo commented on #43
closed to change the issu creator with an other issu

[2022-04-05 07:33] #43 closed

[2022-04-05 07:33] Niarolf opened #44 "Unreleased space after deleting files"
## Description
This issue follow the #37
When we have not enought space in the apache temp filesystem, the temporary files are now deleted in the 1.7.0 version but some space are unrealesed by the qgis_maps process.
## Context

Qgis server is using with apache2 and fcgi.
When we call the plugin for a large file, send with a SHP outputFormat for example, the plugin create a gml file, then he conver

[2022-05-09 12:49] DelazJ opened #47 "Remowe wfsOutputExtension from QGIS Desktop plugins list?"
## Description
From QGIS Desktop, Plugins manager dialog, it is possible to install the wfsOutputExtension plugin but as far as I understand, this is a QGIS Server only plugin. Moreover, when you open QGIS after the install on desktop, you always get

## Context

* QGIS Server FULL version (with 3 numbers) :
* OS on the server :

[2022-05-09 13:31] Gustry commented on #47
It's not possible to remove a plugin from QGIS Desktop from now.
QGIS Desktop plugin manager is always showing all plugins available in the XML, even if it's a server only plugin.

In desktop, you will see all plugins listed on this page : https://plugins.qgis.org/plugins/server/

See the related ticket https://github.com/qgis/QGIS/issues/36284 about this feature request.

[2022-06-27 13:28] JLHI opened #49 "No the good name and extension in the end of the file"
Hello,

I've installed the plugin V1.7 on Lizmap 3.5.1 and Qgis-server 3.22.

The export work, but the name and the extension of the export are not good. exemple :

f2f487be-d23b-4b1e-a8c1-e422b8711a3d

But when a re-write manually the entire url : Server & query, it work well.

Have an idea?

Thanks.

[2022-06-29 07:25] JLHI commented on #49
Issue came the version of map.js file. I copied a file to an older version and now it work's.

[2022-06-29 07:25] #49 closed

[2022-07-12 14:33] gioman commented on #49
@JLHI Hi, I see the same on Chrome and Edge, but not Firefox (tested on Win 10).

Can you be more specific about how to fix this? Thanks.

[2022-07-12 18:37] JLHI commented on #49
Ok, you have to search an older version ( like 4.9) and in the map.js, take the "downloadFile()" function and replace it in your map.js. The older work well bu not the new.

the function :
function downloadFile( url, parameters, callback ) {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', url, true);
      xhr.responseType = 'arraybuffer';
      xhr.onload = function () {
          if

[2022-07-13 07:52] gioman commented on #49
@JLHI thanks for the reply, but sorry for the stupid question, version 4.9 of what? there is no 4.9 version of this extension or of the lizmap web client. Anyway I think that this should be considered a bug and so this ticket should be reopened.

[2022-07-13 10:22] JLHI commented on #49
@gioman [gioman](https://github.com/gioman)

You said :  _there is no 4.9 version of this extension or of the lizmap web client_
There is ! If you got to the main lizmap web client Git hub page, you should find the release section, with all versions of the code, like the 4.9.

[2022-07-13 10:24] gioman commented on #49
@JLHI https://github.com/3liz/lizmap-web-client/releases

3.5 is the latest

[2022-07-13 12:50] JLHI commented on #49
My bad, it's 3.4 version 👍

[2022-07-15 11:28] gioman commented on #49
@JLHI thanks, I'll give it a try. Can you please reopen this ticket? Or even better open a ticket in the Lizmap Web Client repo? This is a plain bug.

[2022-07-15 13:00] gioman commented on #49
@JLHI did not worked for me. Did you had to do some additional step after patching the function? Can you confirm that the file you patched is

`lizmap/www/assets/js/map.js`

and not

`lizmap/www/js/map.js`

?

[2022-07-18 08:31] JLHI commented on #49
You have to replace this file (map.js) ==> /[srv or var]/www/html/lizmap/www/js/map.js , because it's this file used by the server, as shown in console of a web-browser.

[2022-07-18 18:13] gioman commented on #49
@JLHI if patching map.js in LMWC code fixes it then is a LMWC bug, not a qgis server one. Do you agree?

will try.

[2022-07-19 23:03] JLHI commented on #49
You're right, but it's write in the code, lizdev's are waiting for a fix, and the next code is here. We can use this plugin by a "hack". Also, the lizmap futur code is ready....not qgis server code, you see?

[2022-07-21 11:35] gioman commented on #49
@JLHI still does not work for me (did you replace just that function or the entire map.js?).

no sorry, I can't understand you.

@rldhont @Gustry can you help understand here were the problem is, if there is something that can be patched (and where) and if this ticket should be reopened here, or elsewhere? thanks.

[2022-07-21 11:44] rldhont commented on #49
First of all Update your lizmap web client to 3.5.4 or 3.5.5 the name of the downloaded file has been fixed
* master https://github.com/3liz/lizmap-web-client/pull/2982
* release_3_5 https://github.com/3liz/lizmap-web-client/pull/2989

[2022-07-21 11:46] gioman commented on #49
@rldhont thanks. I was looking to understand if there was a patch for the 3.4 series, but I'll upgrade to 3.5 instead then.

[2022-07-21 11:55] rldhont commented on #49
@gioman version 3.4.12 has the bugfix https://github.com/3liz/lizmap-web-client/pull/2988

[2022-10-04 14:44] pathmapper opened #55 "Add .cpg file for Shapefile output"
Currently there's no .cpg file included for the Shapefile output ZIP to specify the codepage for identifying the characterset to be used:

https://geo.kreis-viersen.de/ows/osm-daten?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=wertstoffhoefe_nrw&SRSNAME=EPSG:25832&OUTPUTFORMAT=SHP

[2022-10-05 09:20] #55 closed

[2022-10-05 09:28] Gustry commented on #44
We are aware but a lot of limitations of this plugin (first getting GML, writing to disk, transforming again the GML etc). We are thinking about a better process with WPS for later.

For your files, we don't have any issue so far for us. Not sure if it's related to Apache, we don't use it.